<div class="container-fluid">
  <main class="col-12 col-md-12 col-xl-12 bd-content bg-transparent">
    <div class="d-block d-sm-flex p-2 my-2  align-items-center">
      <div class="col-12 col-sm-6 row m-0 align-items-center">
        <h6 class="mb-0"> AutoSelect Box</h6>
      </div>
      <div class="mt-2 mt-sm-0 col-12 col-sm-6 row m-0 justify-content-sm-end">
        <button type="button" class="btn btn-sm btn-white" [routerLink]="['/']">
          User Management</button>
        <button type="button" class="btn btn-sm btn-white" [routerLink]="['/img']">
          Image Directive</button>
        <button type="button" class="btn btn-sm btn-white" [routerLink]="['/focus/new-1']">
          FocusById</button>
      </div>
    </div>
  </main>
  <section class="filter-wrapper">
    <div class="keyword-wrapper">
      <input [(ngModel)]="searchcontent" (keyup)="FetchItemDetailsSearch(searchcontent)" type="text" id="keyword"
        placeholder="Search for User..." autofocus />
    </div>
    <ul class="filter-select">
      <li *ngFor="let result of UserList" class="filter-select-list">
        <p class="user-name">
          {{result.firstName}}</p>
    </ul>
  </section>
</div>
